body{
  text-align: center;
}
img{
  max-width: 200px;
}
.fileStack button{
  visibility: hidden;
  position: relative;
}
.fileStack button::after{
  content: 'Add Photo';
  visibility: visible;
  position: relative;
  text-align: center;
  border: 2px outset grey;
  background-color: rgb(100, 100, 245);
  color: white;
  border-radius: 5px;
  padding:6px;
  font-size: 30px;
}
.fileStack button:active{
  color: red;
  border-style: inset;
}
